{% extends ':default:layout.html.twig' %}
{% block private_css %}
    <style>
        .sort{
            line-height: 28px;
            border-bottom: 1px solid #CCC;
        }
    </style>
{% endblock %}
{% block page_header %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row" style="background-color: transparent">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div class="table-header">{% if distributed is not defined %}未分配客户列表{% else %}已分配客户列表{% endif %}</div>
                    <p>
                        <form method="post" action="{{ path('multiple_sort') }}">
                        <!-- sorting -->
                        {% for key1,value1 in sorting %}
                        <div class="col-md-12 sort">
                                <div class="col-lg-2">
                                    <span class="label label-lg label-primary arrowed-in arrowed-in-right">&nbsp;&nbsp;&nbsp;&nbsp;{{ key1 }}:&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                                <div class="col-lg-10">
                                {% for key2,value2 in value1 %}
                                    {% for key3,value3 in value2 %}
                                    <div class="col-lg-2">
                                        <a href="{{ path('distributed_users', {'sort': key2, 'id': value3}) }}"><span class="">{{ key3 }}</span></a><input type="checkbox" name="{{ key2 }}[]" id="{{ key2 }}" value="{{ value3 }}" style="margin-left: 2px">
                                    </div>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                        </div>
                        {% endfor %}
                        <!-- end sorting -->
                        <button type="submit" class="btn btn-success">筛选</button>
                        </form>

                        <form id="distribution_form" method="post" action="{{ path('distribute') }}">
                            <table class="table table-striped table-bordered table-hover" id="distributed_users">
                                <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>UID</th>
                                    <th>用户名</th>
                                    <th>真是姓名</th>
                                    <th>客户类型</th>
                                    <th>基本状态</th>
                                    <th>用户总资产</th>
                                    <th>上次登录时间</th>
                                    <th>注册时间</th>
                                    <th>客服人员</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in data %}
                                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                                        <td class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" name="uids[]" value="{{ item.uid }}" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td>{{ item.uid }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.realname }}</td>
                                        <td>{{ item.category }}</td>
                                        <td>
                                            {% if item.verification.ID==true %}<i class="fa fa-user" style="color: green;font-size: 18px"></i>{% else %} <i class="fa fa-user-times" aria-hidden="true" style="color: darkred;font-size: 18px"></i>{% endif %}&nbsp;&nbsp;&nbsp;
                                            {% if item.verification.cellphone==true %}<i class="fa fa-mobile-phone" style="color: green;font-size: 18px"></i>{% else %} <i class="fa fa-mobile-phone" style="color: darkred;font-size: 18px"></i>{% endif %}&nbsp;&nbsp;&nbsp;
                                            {% if item.verification.email==true %}<i class="fa fa-envelope" style="color:green;font-size: 18px"></i>{% else %}<i class="fa fa-envelope" style="color: darkred;font-size: 18px"></i>{% endif %}
                                        </td>
                                        <td>{{ item.total_asset }}</td>
                                        <td>{{ item.login }}</td>
                                        <td>{{ item.registration }}</td>
                                        <td>{{ item.manager }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                            <div class="col-sm-2">
                                <select class="chosen-select form-control" name="mid" data-placeholder="请选择客服人员">
                                    <option value="" disabled selected>请选择要分配的客服人员</option>
                                    {% for manager in managersToDistributeTo %}
                                    <option value="{{ manager.id }}">{{ manager.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-10 dataTables_paginate paging_simple_numbers">
                                {% if sort is defined %}
                                {% set first_page=path('distributed_users',{'sort':sort,'id':id,'page':1}) %}
                                {% set previous=path('distributed_users',{'sort':sort,'id':id,'page':app.request.get('page')-1}) %}
                                {% set current_page=path('distributed_users',{'sort':sort,'id':id}) %}
                                {% set page_2=path('distributed_users',{'sort':sort,'id':id,'page':2}) %}
                                {% set next=path('distributed_users',{'sort':sort,'id':id,'page':app.request.get('page')+1}) %}
                                {% set last_page=path('distributed_users',{'sort':sort,'id':id,'page':(pagination.page_count)}) %}
                                {% else %}
                                {% set first_page=path('multiple_sort',{'page':1}) %}
                                {% set previous=path('multiple_sort',{'page':app.request.get('page')-1}) %}
                                {% set current_page=path('multiple_sort') %}
                                {% set page_2=path('multiple_sort',{'page':2},true) %}
                                {% set next=path('multiple_sort',{'page':app.request.get('page')+1}) %}
                                {% set last_page=path('multiple_sort',{'page':(pagination.page_count)}) %}
                                {% endif %}
                                {% include '@CRM/Pagination/page_layout.html.twig' %}
                            </div>
                            </div>
                            <div style="margin-top: 5px">
                                 <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}

{% block private_js %}
    <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.colVis.min.js') }}"></script>
    <script>
        //side nav
        $("#system_management").addClass('active open');
        $("#clients_distribution").addClass('active open');
        $("#clients_distribution_submenu").css('display','block');
        $("#distributed").addClass('active');

        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#distributed_users > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function(){
                var row = this;
                if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#distributed_users').on('click', 'td input[type=checkbox]' , function(){
            var $row = $(this).closest('tr');
            if(this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        {% if conditions is defined %}
        {% for key1,value1 in conditions %}
        {% for item in value1 %}
        $("#{{ key1 }}[value='{{ item }}']").prop('checked',true);
        {% endfor %}
        {% endfor %}
        {% endif %}

    </script>
    {#<script>
        var active_class = 'active';
        $('#distributed_users > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function(){
                var row = this;
                if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#distributed_users').on('click', 'td input[type=checkbox]' , function(){
            var $row = $(this).closest('tr');
            if(this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });


        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            return 'left';
        }

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }


        var oTable1 = $('#undistributed_users').dataTable({
            "searching":false,
            "paginate":false,
            "info":false,
        });
        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools( oTable1, {
            "sSwfPath": "../assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function(row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch(e) {}
            },
            "fnRowDeselected": function(row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch(e) {}
            },

            "sSelectedClass": "success",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sToolTip": "Copy to clipboard",
                    "sButtonClass": "btn btn-white btn-primary btn-bold",
                    "sButtonText": "<i class='fa fa-copy bigger-110 pink'></i>",
                    "fnComplete": function() {
                        this.fnInfo( '<h3 class="no-margin-top smaller">Table copied</h3>\
									<p>Copied '+(oTable1.fnSettings().fnRecordsTotal())+' row(s) to the clipboard.</p>',
                                1500
                        );
                    }
                },

                {
                    "sExtends": "csv",
                    "sToolTip": "Export to CSV",
                    "sButtonClass": "btn btn-white btn-primary  btn-bold",
                    "sButtonText": "<i class='fa fa-file-excel-o bigger-110 green'></i>"
                },

                {
                    "sExtends": "pdf",
                    "sToolTip": "Export to PDF",
                    "sButtonClass": "btn btn-white btn-primary  btn-bold",
                    "sButtonText": "<i class='fa fa-file-pdf-o bigger-110 red'></i>"
                },

                {
                    "sExtends": "print",
                    "sToolTip": "Print view",
                    "sButtonClass": "btn btn-white btn-primary  btn-bold",
                    "sButtonText": "<i class='fa fa-print bigger-110 grey'></i>",

                    "sMessage": "<div class='navbar navbar-default'><div class='navbar-header pull-left'><a class='navbar-brand' href='#'><small>Optional Navbar &amp; Text</small></a></div></div>",

                    "sInfo": "<h3 class='no-margin-top'>Print view</h3>\
									  <p>Please use your browser's print function to\
									  print this table.\
									  <br />Press <b>escape</b> when finished.</p>",
                }
            ]
        } );

        /////////////////////////////////
        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#distributed_users > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function(){
                var row = this;
                if(th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#distributed_users').on('click', 'td input[type=checkbox]' , function(){
            var row = $(this).closest('tr').get(0);
            if(!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        //we put a container before our table and append TableTools element to it
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        //also add tooltips to table tools buttons
        //addding tooltips directly to "A" buttons results in buttons disappearing (weired! don't know why!)
        //so we add tooltips to the "DIV" child after it becomes inserted
        //flash objects inside table tools buttons are inserted with some delay (100ms) (for some reason)
        setTimeout(function() {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function() {
                var div = $(this).find('> div');
                if(div.length > 0) div.tooltip({container: 'body'});
                else $(this).tooltip({container: 'body'});
            });
        }, 200);
    </script>#}
    {#<script type="text/javascript">
        jQuery(function($) {
            //initiate dataTables plugin
            var oTable1 =
                    $('#undistributed_users')
                    //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                            .dataTable( {
                                "paging":false,
                                "searching":false,
                                "info":false,
                                bAutoWidth: true,
                                "aoColumns": [
                                    { "bSortable": false },
                                    null, null,null
                                ],
                                "aaSorting": [],


                            } );



            //TableTools settings
            TableTools.classes.container = "btn-group btn-overlap";
            TableTools.classes.print = {
                "body": "DTTT_Print",
                "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
                "message": "tableTools-print-navbar"
            }

            //initiate TableTools extension
            var tableTools_obj = new $.fn.dataTable.TableTools( oTable1, {
                "sSwfPath": "../assets/swf/copy_csv_xls_pdf.swf",

                "sRowSelector": "td:not(:last-child)",
                "sRowSelect": "multi",
                "fnRowSelected": function(row) {
                    //check checkbox when row is selected
                    try { $(row).find('input[type=checkbox]').get(0).checked = true }
                    catch(e) {}
                },
                "fnRowDeselected": function(row) {
                    //uncheck checkbox
                    try { $(row).find('input[type=checkbox]').get(0).checked = false }
                    catch(e) {}
                },

                "sSelectedClass": "success",
                "aButtons": [
                    {
                        "sExtends": "copy",
                        "sToolTip": "Copy to clipboard",
                        "sButtonClass": "btn btn-white btn-primary btn-bold",
                        "sButtonText": "<i class='fa fa-copy bigger-110 pink'></i>",
                        "fnComplete": function() {
                            this.fnInfo( '<h3 class="no-margin-top smaller">Table copied</h3>\
									<p>Copied '+(oTable1.fnSettings().fnRecordsTotal())+' row(s) to the clipboard.</p>',
                                    1500
                            );
                        }
                    },

                    {
                        "sExtends": "csv",
                        "sToolTip": "Export to CSV",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-file-excel-o bigger-110 green'></i>"
                    },

                    {
                        "sExtends": "pdf",
                        "sToolTip": "Export to PDF",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-file-pdf-o bigger-110 red'></i>"
                    },

                    {
                        "sExtends": "print",
                        "sToolTip": "Print view",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-print bigger-110 grey'></i>",

                        "sMessage": "<div class='navbar navbar-default'><div class='navbar-header pull-left'><a class='navbar-brand' href='#'><small>Optional Navbar &amp; Text</small></a></div></div>",

                        "sInfo": "<h3 class='no-margin-top'>Print view</h3>\
									  <p>Please use your browser's print function to\
									  print this table.\
									  <br />Press <b>escape</b> when finished.</p>",
                    }
                ]
            } );
            //we put a container before our table and append TableTools element to it
            $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

            //also add tooltips to table tools buttons
            //addding tooltips directly to "A" buttons results in buttons disappearing (weired! don't know why!)
            //so we add tooltips to the "DIV" child after it becomes inserted
            //flash objects inside table tools buttons are inserted with some delay (100ms) (for some reason)
            setTimeout(function() {
                $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function() {
                    var div = $(this).find('> div');
                    if(div.length > 0) div.tooltip({container: 'body'});
                    else $(this).tooltip({container: 'body'});
                });
            }, 200);



            //ColVis extension
            var colvis = new $.fn.dataTable.ColVis( oTable1, {
                "buttonText": "<i class='fa fa-search'></i>",
                "aiExclude": [0, 7],
                "bShowAll": true,
                //"bRestore": true,
                "sAlign": "right",
                "fnLabel": function(i, title, th) {
                    return $(th).text();//remove icons, etc
                }

            });

            //style it
            $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

            //and append it to our table tools btn-group, also add tooltip
            $(colvis.button())
                    .prependTo('.tableTools-container .btn-group')
                    .attr('title', 'Show/hide columns').tooltip({container: 'body'});

            //and make the list, buttons and checkboxed Ace-like
            $(colvis.dom.collection)
                    .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
                    .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
                    .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');



            /////////////////////////////////
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

            //select/deselect all rows according to table header checkbox
            $('#undistributed_users > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function(){
                    var row = this;
                    if(th_checked) tableTools_obj.fnSelect(row);
                    else tableTools_obj.fnDeselect(row);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#undistributed_users').on('click', 'td input[type=checkbox]' , function(){
                var row = $(this).closest('tr').get(0);
                if(!this.checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
            });




            $(document).on('click', '#undistributed_users .dropdown-toggle', function(e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });


            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox
            var active_class = 'active';
            $('#undistributed_users > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function(){
                    var row = this;
                    if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#undistributed_users').on('click', 'td input[type=checkbox]' , function(){
                var $row = $(this).closest('tr');
                if(this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });



            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }

        })
    </script>
    <script>
        $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                    var min = parseInt( $('#min_capital').val(), 10 );
                    var max = parseInt( $('#max_capoital').val(), 10 );
                    var age = parseFloat( data[1] ) || 0; // use data for the age column

                    if ( ( isNaN( min ) && isNaN( max ) ) ||
                            ( isNaN( min ) && age <= max ) ||
                            ( min <= age   && isNaN( max ) ) ||
                            ( min <= age   && age <= max ) )
                    {
                        return true;
                    }
                    return false;
                }
        );

        $(document).ready(function() {
            var table = $('#undistributed_users').DataTable();

            // Event listener to the two range filtering inputs to redraw on input
            $('#min_capital, #max_capoital').keyup( function() {
                table.draw();
            } );
        } );
    </script>#}
{% endblock %}