{% extends ':default:layout.html.twig' %}
{% block page_header %}统计报表{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#asset" aria-expanded="true">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        客户资产报表
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#category" aria-expanded="true">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        客户分类报表
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#investment" aria-expanded="true">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        客户投资报表
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="asset" class="tab-pane fade active in">
                    <div id="assetChartByLevel" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>

                <div id="category" class="tab-pane fade fade">

                </div>

                <div id="investment" class="tab-pane fade fade">
                    <div class="btn-group" data-toggle="buttons">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#assetChartByInvestmentTypeLastMonth" data-toggle="tab">近一个月</a>
                            </li>
                            <li>
                                <a href="#assetChartByInvestmentType3Months" data-toggle="tab">近一三个月</a>
                            </li>
                            <li>
                                <a href="#assetChartByInvestmentTypeHalfYear" data-toggle="tab">近半年</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" style="border: 0">
                        <div id="assetChartByInvestmentTypeLastMonth" style="width:1024px; margin: 0 auto" class="tab-pane fade active in"></div>
                        <div id="assetChartByInvestmentType3Months" style="width:1024px; margin: 0 auto" class="tab-pane fade fade"></div>
                        <div id="assetChartByInvestmentTypeHalfYear" style="width:1024px; margin: 0 auto" class="tab-pane fade fade"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block private_js %}
    <script src="{{ asset('assets/js/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/exporting.js') }}"></script>
    <script>
        $(function () {
            $('#assetChartByLevel').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '按资产级别分'
                },
                xAxis: {
                    categories: ['0.01-1K', '1K-100K', '100K-1M', '1M以上'],
                    crosshair: true
                },
                yAxis: [
                    { //primary yAxis
                        title: {
                            text: '金额',
                            style: {
                                color: 'black'
                            }
                        },
                        labels: {
                            style: {
                                color: 'black'
                            }
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                        }
                },{ // Secondary yAxis
                    title: {
                        text: '人数',
                        style: {
                            color: 'brown'
                        }
                    },
                    labels: {
                        format: '{value} 人',
                        style: {
                            color: 'brown'
                        }
                    },
                    opposite:true

                }],
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                    shared: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 120,
                    verticalAlign: 'top',
                    y: 100,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                plotOptions: {
                    column: {
                        stacking: 'normal'
                    }
                },
                series: [
                    {% for key,item in groupedByAssetLevel %}
                    {
                        name: {% if key=='total' %}'总资产'{% elseif key=='balance' %}'余额'{% elseif key=='clientsCount' %}'人数'{% endif %},
                        type:'{% if key !='clientsCount' %}column{% else %}spline{% endif %}',
                        {% if key=='clientsCount' %}yAxis: 1,color:'brown',{% endif %}
                        data: [{{ item.lessThan1K }},{{ item.between1KAnd100K }},{{ item.between100KAnd1M }},{{ item.moreThan1M }}]
                    },
                    {% endfor %}


                ]
            });
        });
        $('#assetChartByInvestmentTypeLastMonth').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '客户投资报表(近1个月)'
            },
            yAxis:{title:{text:'金额'}},
            xAxis: {
                categories: ['原始投资', '债券转让']
            },
            credits: {
                enabled: true
            },
            series: [
                {% for key,item in investmentTypeLastMonth %}
                {
                name: '{% if key=='objects' %}融租宝/彩虹预约标{% elseif key=='rest' %}其它{% endif %}',
                data: [{{ item.original }}, {{ item.transfer }}]
            },{% endfor %}
            ]
        });

        $('#assetChartByInvestmentType3Months').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '客户投资报表(近3个月)'
            },
            yAxis:{title:{text:'金额'}},
            xAxis: {
                categories: ['原始投资', '债券转让']
            },
            credits: {
                enabled: true
            },
            series: [
                {% for key,item in investmentType3Months %}
                {
                    name: '{% if key=='objects' %}融租宝/彩虹预约标{% elseif key=='rest' %}其它{% endif %}',
                    data: [{{ item.original }}, {{ item.transfer }}]
                },{% endfor %}
            ]
        });

        $('#assetChartByInvestmentTypeHalfYear').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '客户投资报表(半年)'
            },
            yAxis:{title:{text:'金额'}},
            xAxis: {
                categories: ['原始投资', '债券转让']
            },
            credits: {
                enabled: true
            },
            series: [
                {% for key,item in investmentTypeHalfYear %}
                {
                    name: '{% if key=='objects' %}融租宝/彩虹预约标{% elseif key=='rest' %}其它{% endif %}',
                    data: [{{ item.original }}, {{ item.transfer }}]
                },{% endfor %}
            ]
        });
    </script>
    <script>
        $('#statement').addClass('active');
    </script>
{% endblock %}